<main class="main" id="contact">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">Contacto</h1>
        <section class="row">
            <div class="col-12 offset-md-1 col-md-4">
                <form class="myform">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre Completo:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Teléfono:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+## ### ## ##" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-light disabled">Próximamente</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md 4 container dataContact">
                <article class="row mb-3 mt-3">
                    <div class="col-3 col-md-4">
                        <a [href]='emailUrl' target="_blank" class="urlContact" [title]='emailTitle'>
                            <img src="../../../assets/img/email-circle.svg" alt="" class="img-fluid ico-contact">
                        </a>
                    </div>
                    <div class="col-9 col-md-8">
                        <h4 class="titleContact">{{ emailUrlTitle }}</h4>
                    </div>
                </article>

                <article class="row mb-3 mt-3">
                    <div class="col-3 col-md-4">
                        <a [href]='linkedinUrl' target="_blank" class="urlContact" [title]='linkedinTitle'>
                            <img src="../../../assets/img/linkedin circle.svg" alt="" class="img-fluid ico-contact">
                        </a>
                    </div>
                    <div class="col-9 col-md-8">
                        <h4 class="titleContact">{{ linkedinUrlTitle }}</h4>
                    </div>
                </article>

                <article class="row mb-3 mt-3">
                    <div class="col-3 col-md-4">
                        <a [href]='githubUrl' target="_blank" class="urlContact" [title]='githubTitle'>
                            <img src="../../../assets/img/github circle.svg" alt="" class="img-fluid ico-contact">
                        </a>
                    </div>
                    <div class="col-9 col-md-8">
                        <h4 class="titleContact">{{ githubUrlTitle }}</h4>
                    </div>
                </article>
            </div>
        </section>
    </div>

</main>