/*************** CONTACT PAGE **************/

#contact .myform .form-group {
    margin-bottom: .5rem;
}

#contact .myform .form-group>label {
    margin-bottom: 0;
}

#contact .myform .form-group>input,
#contact .myform .form-group>textarea,
#contact .myform .form-group>button {
    border-radius: 0 !important;
    border: 1px solid #27292b !important;
    outline: none;
}

.form-control {
    outline: none;
}

.form-control:focus {
    box-shadow: none;
}

#contact .myform .form-group>button {
    width: 100%;
}

.is-invalid {
    box-shadow: 0px 0px 25px -10px rgba(206, 0, 0, 0.75) !important;
}

.errorBox {
    position: relative;
}

.errorMessage {
    position: absolute;
    right: 0;
    color: rgba(206, 0, 0) !important;
}

.errorMessageTextArea {
    top: -1.7rem
}

.ico-contact {
    max-width: 50px;
    float: right;
}

.urlContact {
    text-decoration: none;
}

.titleContact {
    margin-bottom: 0;
    line-height: 50px;
}

.success,
.errorSend {
    background-color: #27292b;
    color: white !important;
    padding: .6rem;
    text-align: center;
    width: 250px;
    position: fixed;
    left: 50%;
    margin-left: -125px;
    top: 45%;
    bottom: auto;
    border: none;
    border-radius: 0;
    z-index: 1000;
    transition: all .5s linear;
}

.errorSend {
    background-color: rgba(206, 0, 0)
}

@media (max-width: 576px) {
    .titleContact {
        font-size: 1.3rem;
    }
}