<main class="main" id="studies">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">{{ titlePage }}</h1>
        <section class="row">
            <article class="col-12 studies-title">
                <ul>
                    <li class="studiesList" *ngFor="let item of studiesList" (click)="loadDataStudies(item)">
                        {{ item.titleStudio }}
                    </li>
                </ul>
            </article>
            <article class="col-12 studies-content">
                <div class="description p-4">
                    <h5 id="institutionName"></h5>
                    <p id="placeName"></p>
                    <p id="period"></p>
                </div>
            </article>
        </section>
    </div>

</main>