<main class="main" id="home">
    <div class="container">
        <section class="row">
            <article class="col-12 col-sm-6 col-md-4 text-center text-sm-left main-content-home">
                <h1 class="display-4" id="main-title-mobile">Alex Coronell</h1>
                <h1 class="display-4" id="main-title-middle">Alex<br>Coronell<br><br>Desarrollador<br>Developer</h1>
                <h1 class="display-4" id="main-title">Alex<br>Coronell</h1>
            </article>
            <article class="col-12 col-sm-6 col-md-4 text-center img-fluid" id="main-image">
                <img src="../../../assets/img/myphoto.png" title="Alex Coronell" alt="" class="img-fluid">
            </article>
            <article class="col-12 col-md-4 text-center main-content-home text-md-left" id="title-career">
                <h1 class="display-4">Frontend Developer</h1>
            </article>
        </section>
    </div>
</main>