<main class="main" id="notfound">
    <div class="container">
        <section class="notfound_section row text-center">
            <article class="col-12 row text-center p-0 m-0">
                <picture class="col12 col-md-6 notfound_picture w-100">
                    <img class="notfound_img" src="../../../assets/img/angular-404-bw.svg" alt="">
                </picture>
                <div class="col-12 col-md-6 text-center notfound_text w-100">
                    <h3>Página no encontrada</h3>
                    <p>Lo lamento mucho. La página que estabas buscando no esta disponible o no existe </p>
                </div>
            </article>
        </section>
    </div>
</main>