<main class="main" id="mywork">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">Mis Trabajos</h1>
        <section class="row">
            <article class="col-12 col-sm-6 col-lg-4">
                <div class="card training-section">
                    <div class="card-body">
                        <h3 class="card-text">Protoprint</h3>
                    </div>
                    <img src="../../../assets/img/pages/impresión-digital.jpg" class="img-fluid" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Tecnologías - HTML5-CSS3-JS-PHP-Wordpress</p>
                        <p class="card-text">
                            <a href="http://www.protoprint.net.co" target="_blank">Visítala aquí</a>
                        </p>
                        <p class="card-text">status - activa</p>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
                <div class="card training-section">
                    <div class="card-body">
                        <h3 class="card-text">SmartHome</h3>
                    </div>
                    <img src="../../../assets/img/pages/smarthome.jpg" class="img-fluid" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Tecnologías - HTML5-CSS3-JS</p>
                        <p class="card-text">
                            <a href="http://www.alexcoronell.mipropia.com/proyectos/smarthome/" target="_blank">Visítala aquí</a>
                        </p>
                        <p class="card-text">status - En Proyecto</p>
                    </div>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-lg-4">
                <div class="card training-section">
                    <div class="card-body">
                        <h3 class="card-text">El Maderero</h3>
                    </div>
                    <img src="../../../assets/img/pages/elmaderero.jpg" class="img-fluid" alt="Card image">
                    <div class="card-body">
                        <p class="card-text">Tecnologías - HTML5-CSS3-JS</p>
                        <p class="card-text">
                            <a href="http://www.alexcoronell.mipropia.com/proyectos/elmaderero/" target="_blank">Visítala aquí</a>
                        </p>
                        <p class="card-text">status - inactiva</p>
                    </div>
                </div>
            </article>
        </section>
    </div>

</main>