<main class="main" id="training">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">Formación</h1>
        <section class="row">
            <article class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card training-section">
                    <div class="card-body">
                        <h3 class="card-text">Desarrollador JavaScript</h3>
                    </div>
                    <img src="../../../assets/img/documents/linkedinlearning-desarrolladorjavaScript.jpg" title="Conviértete en Desarrollador JavaScript" class="img-fluid" alt="Conviértete en Desarrollador JavaScript">
                    <div class="card-body">
                        <p class="card-text">LinkedIn Learning - 2020</p>
                    </div>
                </div>
            </article>

        </section>
    </div>

</main>