* {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    color: #27292b !important;
}

body {
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #27292b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}

li,
a,
p {
    font-weight: 400;
}

header,
footer {
    height: 50px;
    background-color: #FFF !important;
}

.main-separator {
    margin: 0;
    border: 2px solid #27292b;
}


/* MAIN */

.main {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/*************** GENERAL OTHER PAGES **************/

.title-page {
    font-size: 3rem;
}


/************************** RESPOSIVE *******************************/

@media (min-width: 576px) and (max-width: 768px) {
    .main {
        padding-top: 80px;
    }
}