<main class="main" id="experience">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">Experiencia</h1>
        <section class="row">
            <article class="col-12 col-md-6 business-title">
                <ul>
                    <li>Micropoint, S. A. S.</li>
                    <li>Alianza Gráfica, LTDA</li>
                    <li>Gloditec, S. A. S.</li>
                    <li>Inv. Propc Computer 2011, C. A.</li>
                    <li>ATB Constructores, C. A.</li>
                    <li>Ávila TV</li>
                    <li>Radio Electro Telvis, C. A.</li>
                    <li>Tecnocorsa, C. A.</li>
                    <li>Hydroclima, S. A.</li>
                </ul>
            </article>
            <article class="col-12 col-md-6 business-content">
                <div class="description p-4">
                    <h3>Analista de Soporte en Sitio</h3>
                    <p>Ciudad: Medellín</p>
                    <p>Desde: 18/09/2018 - Hasta: Actualmente</p>
                    <ul class="ml-4">
                        <li>Servicio Técnico a Impresoras Láser, Computadores de escritorio y portátiles.</li>
                        <li>Atención al cliente</li>
                        <li>Soporte en la implementación del Centro de Servicios Digitales de Sura.</li>
                        <li>Mesa de ayuda y soporte en sitio en Grupo Uribe.</li>
                        <li>Soporte Totto Antioquia</li>
                    </ul>
                </div>
            </article>
        </section>
    </div>

</main>