<main class="main hide-mobile" id="experience">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">{{ titlePage }}</h1>
        <section class="row">
            <article class="col-12 col-md-6 business-title">
                <ul>
                    <li class="list" *ngFor="let item of experiencesList" (click)="loadData(item)">
                        {{ item.business }}
                    </li>
                </ul>
            </article>
            <article class=" col-12 col-md-6 business-content ">
                <div class="description p-4 ">
                    <h4 id="positionName"></h4>
                    <p id="placeName"></p>
                    <p id="period"></p>
                    <ul class="ml-4 " id="functionPlace"></ul>
                </div>
            </article>
        </section>
    </div>
</main>
<div class="main hide-desktop" id="experience">
    <div class="container">
        <h1 class="title-page text-uppercase text-center text-md-left ml-md-5">{{ titlePage }}</h1>
        <section class="row">

            <article class="col-12 business-title">
                <ul>
                    <li class="list" *ngFor="let item of experiencesList" class="mobile-titles-article">
                        {{ item.business }}
                        <ul class="list-unstyled ml-4">
                            <li>{{ item.position }}</li>
                            <li>{{ item.place }}</li>
                            <li>Desde: {{ item.start}} - Hasta {{ item.end }} </li>
                        </ul>
                    </li>
                </ul>

            </article>

        </section>
    </div>
</div>